<!-- <app-listado-items></app-listado-items>> -->

<mat-sidenav-container >
    <mat-sidenav mode="side" opened  [fixedInViewport]="true" [fixedTopGap]="64" >
        <mat-action-list>
            Configurar
            <button mat-list-item > Mozos </button>
            <button mat-list-item> Menus </button>
            <button mat-list-item> Mesas </button>

          </mat-action-list>

    </mat-sidenav>
    <mat-sidenav-content>
        
        <router-outlet></router-outlet>
        
    </mat-sidenav-content>
  </mat-sidenav-container>