<app-item-form [posiblesComponentes]="posiblesComponentes" [itemData]="ingredienteData" 
[editing]="editing" (guardar)="guardarHandler($event)"  (cancelar)="cancelarHandler()" >
</app-item-form>

<div flex="">
    <mat-form-field appearance="fill">
        <mat-label>Costo</mat-label>
        <input matInput [(ngModel)]="ingredienteData.costo" >
    </mat-form-field>
</div>
<div flex="">
    <mat-form-field appearance="fill">
        <mat-label>CantidadStock</mat-label>
        <input matInput [(ngModel)]="ingredienteData.cantidadStock" >
    </mat-form-field>
</div>