<app-item-form [posiblesComponentes]="posiblesComponentes" [itemData]="bebidaData" 
[editing]="editing" (guardar)="guardarHandler"  (cancelar)="cancelarHandler" >
</app-item-form>


<div layout="row">   
    <div flex="">        
        <mat-form-field appearance="fill">
            <mat-label>Restricciones Alimentarias</mat-label>
            <mat-select [(ngModel)]="bebidaData.restriccionesAlimentarias" [compareWith]="compareRestricciones" multiple>
                <span  *ngIf="!!posiblesRestricciones">
                    <mat-option *ngFor="let res of posiblesRestricciones" [value]="res" >
                        {{ res.nombre }}
                    </mat-option>
                </span>
            </mat-select>
        </mat-form-field>
    </div>
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="bebidaData.categoria" [compareWith]="compareCategorias">
                <span *ngIf="!!posiblesCategorias" >
                    <mat-option *ngFor="let cat of posiblesCategorias" [value]="cat" >
                        {{ cat.nombre }}
                    </mat-option>
                </span>
            </mat-select>
        </mat-form-field>
    </div>
</div> 