<h2>Mozos</h2>
<div layout="row" layout-wrap="">
    <div layout="column" layout-wrap="">
        <div flex="33">
            <mat-list color="primary" class="lista-mozos">
                <mat-list-item role="listitem" *ngFor="let mozo of listaMozos">                    
                    <button mat-button (click)="inicioEdit(mozo)"> {{mozo.nombre}}</button>
                    <span>
                         <button mat-button (click)="borrarMozo(mozo)"> 
                             <mat-icon>close</mat-icon>
                         </button>
                    </span>
                </mat-list-item>
            </mat-list>
        </div>
        <div flex="33">
            <button (click)="inicioNuevo()" mat-raised-button color="primary"> Crear Nuevo </button>
        </div>
    </div>
    <div *ngIf="editing" layout="column" layout-wrap="">
        <div layout="column">
            <div flex="">
                <mat-form-field appearance="fill" name="nombre">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="mozoData.nombre">
                </mat-form-field>
            </div>
            <div flex="">
                <mat-form-field appearance="fill">
                    <mat-label>DNI</mat-label>
                    <input matInput [(ngModel)]="mozoData.DNI">
                </mat-form-field>
            </div>
        </div>

        <div layout="row">
            <mat-list *ngIf="mozoData && mozoData.turnos" color="primary">
                <mat-list-item  *ngFor="let turno of mozoData.turnos" role="listitem">
                    <div flex="">
                        <mat-form-field appearance="fill">
                            <mat-label>Sector</mat-label>
                            <mat-select>
                                <mat-option value="one">First option</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div flex="">
                        <mat-form-field appearance="fill">
                            <mat-label>Dia de la semana</mat-label>
                            <mat-select>
                                <mat-option value="one">Lunes</mat-option>
                                <mat-option value="two">Second option</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div flex="">
                        <mat-form-field appearance="fill">
                            <mat-label>Horario Entrada</mat-label>
                            <input matInput  [(ngModel)]="turno.entrada">
                        </mat-form-field>
                    </div>
                    <div flex="">
                        <mat-form-field appearance="fill">
                            <mat-label>Horario Salida</mat-label>
                            <input matInput [(ngModel)]="turno.salida">
                        </mat-form-field>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>
        <button mat-raised-button (click)="guardar()"> Guardar </button>
        <button mat-raised-button (click)="editing=false"> Cancelar </button>
    </div>
</div>