  <mat-toolbar fxLayout="row" color="primary" color="dark">

            <h1><a fxFlex mat-raised-button routerLink="/" >
                Untertürkheim
            </a></h1>
            <span class="menu-spacer"></span>
           
                <a *ngFor="let ruta of rutas" mat-button [routerLink]="ruta.url" class="mr"
                 fxHide.xs> 
                    {{ruta.nombre}}
                 </a>

                 <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #dropMenu="matMenu">
                    <ng-container *ngFor="let ruta of rutas">
                        <button mat-menu-item [routerLink]="ruta.url">
                            {{ruta.nombre}}
                        </button>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-menu>
        </mat-toolbar>


