<button mat-raised-button (click)="guardarHandler()"> Guardar </button>
<button mat-raised-button (click)="cancelarHandler()"> Cancelar </button>
<div layout="column">
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="itemData.nombre" required>
        </mat-form-field>
    </div>
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Descripcion</mat-label>
            <input matInput [(ngModel)]="itemData.descripcion" required>
        </mat-form-field>
    </div>
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput [(ngModel)]="itemData.precio" required>
        </mat-form-field>
    </div>
</div>
<div layout="row">
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Componentes</mat-label>
            <mat-select [(ngModel)]="itemData.componentes" [compareWith]="compareComponentes" multiple>
             <span *ngIf="!!posiblesComponentes" >
                <mat-option *ngFor="let comp of posiblesComponentes" [value]="comp" >
                    {{ comp.nombre }}
                </mat-option>
            </span>
            </mat-select>
        </mat-form-field>
    </div>
</div>




