<mat-card [ngClass]="['card', 'presentation']">
        <mat-card-header>
            <mat-card-title>
            Cervecería Untertürkheim
            </mat-card-title>
            <mat-card-subtitle>
                Cervezas del mundo y cocina alemana
            </mat-card-subtitle>
        </mat-card-header>
    <mat-card-content>
        <p>Lunes a sábados desde las 16hs</p> 
        <p>Cocina hasta las 00hs</p> 
        <p> Wpp +5491164732465</p>       
    </mat-card-content>
</mat-card>
