<h2>Mesas</h2>
<div layout="row" layout-wrap="">
    <div layout="column" layout-wrap="">
        <div flex="33">
            <mat-list color="primary" class="lista-mesas">
                <mat-list-item role="listitem" *ngFor="let mesa of listaMesas" >
                    <button mat-button (click)="inicioEdit(mesa)"> {{mesa.nombre}}</button>
                    <span>
                         <button mat-button (click)="borrarMesa(mesa)"> 
                             <mat-icon>close</mat-icon>
                         </button>
                    </span>
                    
                </mat-list-item>
            </mat-list>
        </div>
        <div flex="33">
            <button (click)="inicioNuevo()" mat-raised-button color="primary"> Crear Nuevo </button>
        </div>
    </div>
    <div *ngIf="editing" layout="column" layout-wrap="">
        <div layout="column">
            <div flex="">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="mesaData.nombre">
                </mat-form-field>
            </div>
            <div flex="">
                <mat-form-field appearance="fill">
                    <mat-label>Descripcion</mat-label>
                    <input matInput [(ngModel)]="mesaData.descripcion">
                </mat-form-field>
            </div>
        </div>
        <div layout="row">
            <div flex="">
                <mat-form-field appearance="fill">
                    <mat-label>Sector</mat-label>
                    <mat-select [(ngModel)]="mesaData.sector" [compareWith]="compareSect">
                        <span *ngIf="!!listaSectores" >
                        <mat-option *ngFor="let sec of listaSectores" [value]="sec" >
                            {{ sec.nombre }}
                        </mat-option>
                        </span>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div layout="row">
            <div flex="">
            <div flex="">
                <mat-form-field appearance="fill">
                    <mat-label>Cantidad comensales</mat-label>
                    <input matInput [(ngModel)]="mesaData.cantComensales">
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button (click)="guardar()"> Guardar </button>
        <button mat-raised-button (click)="editing=false"> Cancelar </button>
    </div>
</div>