<app-item-form [posiblesComponentes]="posiblesComponentes" [itemData]="platoData" 
[editing]="editing" (guardar)="guardarHandler($event)"  (cancelar)="cancelarHandler()" >
</app-item-form>


<div layout="row">
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Posibles Extras</mat-label>
            <mat-select [(ngModel)]="platoData.posiblesExtras" [compareWith]="compareComponentes" multiple>
                <span *ngIf="!!posiblesComponentes">
                <mat-option  *ngFor="let comp of posiblesComponentes" [value]="comp" >
                    {{ comp.nombre }}
                </mat-option>
            </span>
            </mat-select>
        </mat-form-field>
    </div>
    <div flex="">        
        <mat-form-field appearance="fill">
            <mat-label>Restricciones Alimentarias</mat-label>
            <mat-select [(ngModel)]="platoData.restriccionesAlimentarias" [compareWith]="compareRestricciones" multiple>
               <span *ngIf="!!posiblesRestricciones">
                    <mat-option  *ngFor="let res of posiblesRestricciones" [value]="res" >
                        {{ res.nombre }}
                    </mat-option>
                </span>
            </mat-select>
        </mat-form-field>
    </div>
    <div flex="">
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="platoData.categoria" [compareWith]="compareCategorias">
                <span *ngIf="!!posiblesCategorias" >
                <mat-option *ngFor="let cat of posiblesCategorias" [value]="cat" >
                    {{ cat.nombre }}
                </mat-option>
                </span>
            </mat-select>
        </mat-form-field>
    </div>
</div> 